.succes-msg {
    background-color: #00b938;
    border: 2px solid rgb(19, 223, 46);
    border-radius: 10px;
    padding: 15px;
    color: white;
    margin: 5px;
}

.alert {
    padding: 15px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}